{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__identity">
      <a class="masthead__brand" href="{{ base_path }}/#about">{{ site.title }}</a>
      <nav class="masthead__contact-links" aria-label="Contact links">
        <a href="mailto:jseool@snu.ac.kr">Email</a>
        <a href="https://www.linkedin.com/in/junseo-lee-586005318">LinkedIn</a>
        <a href="https://github.com/jseool">GitHub</a>
        <a href="{{ base_path }}/files/Junseo_Lee_CV.pdf">CV</a>
      </nav>
    </div>
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
